<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.developer.achambi.pkmng">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Required to perform dumpsys on retail signed devices. Requires the APK to be debuggable
         and the permission to be manually granted using ADB (which is done in the monkeyrunner
         script. -->
    <uses-permission android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity
            android:name="es.developer.achambi.pkmng.modules.overview.view.OverviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="es.developer.achambi.pkmng.modules.create.view.CreateConfigurationActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="es.developer.achambi.pkmng.modules.create.EditConfigurationActivity"/>
        <activity android:name="es.developer.achambi.pkmng.modules.calculator.view.DamageCalculatorActivity"/>
        <activity android:name="es.developer.achambi.pkmng.modules.search.item.view.SearchItemActivity"/>
        <activity android:name="es.developer.achambi.pkmng.modules.search.nature.SearchNatureActivity"/>
        <activity android:name="es.developer.achambi.pkmng.modules.search.ability.view.SearchAbilityActivity"/>
        <activity android:name="es.developer.achambi.pkmng.modules.search.move.view.SearchMoveActivity" />
        <activity android:name="es.developer.achambi.pkmng.modules.search.pokemon.view.SearchPokemonActivity"/>
        <activity android:name="es.developer.achambi.pkmng.modules.search.configuration.view.SearchConfigurationActivity"/>
    </application>

</manifest>
